http://2015.recsyschallenge.com/challenge.html

https://github.com/hidasib/GRU4Rec

In [1]:
import os
import numpy as np
import pandas as pd

In [6]:
train_partial_path = 'rsc15_train_partial.txt'
data = pd.read_csv(train_partial_path, parse_dates = [1], infer_datetime_format = True)
data.head()

   SessionId               TimeStamp     ItemId
0          1 2014-04-07 10:51:09.277  214536502
1          1 2014-04-07 10:54:09.868  214536500
2          1 2014-04-07 10:54:46.998  214536506
3          1 2014-04-07 10:57:00.306  214577561
4          2 2014-04-07 13:56:37.614  214662742

In [8]:
session_key = 'SessionId'
item_key = 'ItemId'

In [20]:
# for each item/session generate a id and map/merge it back to the item
itemids = data[item_key].unique()
n_items = len(itemids)

# item id as index, mapping to a numeric value
itemidmap = pd.Series(data = np.arange(n_items), index = itemids) ## ?? pass to self only

sessionids = data[session_key].unique()
n_sessions = len(sessionids)

item_index = pd.DataFrame({item_key: itemids, 'ItemIdx': np.arange(n_items)})
session_index = pd.DataFrame({session_key: sessionids, 'SessionIdx': np.arange(n_sessions)})

data = pd.merge(data, item_index, on = item_key, how = 'inner')
data = pd.merge(data, session_index, on = session_key, how = 'inner')
data.head()

,SessionId,TimeStamp,ItemId,ItemIdx_x,ItemIdx_y,SessionIdx
0,1,2014-04-07 10:51:09.277,214536502,0,0,0
1,1,2014-04-07 10:54:09.868,214536500,1,1,0
2,1,2014-04-07 10:54:46.998,214536506,2,2,0
3,1,2014-04-07 10:57:00.306,214577561,3,3,0
4,561,2014-04-02 08:18:34.029,214536502,0,0,1

In [22]:
seed = 1234
n_factors = 10

rstate = np.random.RandomState(seed)
user_factors = rstate.normal(size = (n_sessions, n_factors))
item_factors = rstate.normal(size = (n_items, n_factors))

In [ ]:
# extract a random user one random rated item and one random unrated item for that user