In [2]:
import pandas as pd

In [6]:
pd.__version__

'0.18.1'

In [3]:
data = pd.read_csv('test.csv')
data.head()

   index                                             Author
0      1  Averill M. Law and Michael G. McComas (Averill...
1      2  Averill M. Law and Michael G. McComas (Averill...
2      3                                   Mike and Michael
3      4                                            Michael

In [4]:
# http://stackoverflow.com/questions/9030036/regex-to-match-only-commas-not-in-parentheses
data['Author'] = data['Author'].str.replace( r'and(?![^(]*\))', ',' )
data['Author'][1]

'Averill M. Law , Michael G. McComas (Averill M. Law and Associates, Inc.)'

In [41]:
data.to_csv('test1.csv', index = False)

In [ ]:
import pandas as pd
data = pd.read_csv('test.csv')
data['Author'] = data['Author'].str.replace( r'and(?![^(]*\))', ',' )
data.to_csv( 'test1.csv', index = False )